@import "https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap";
@import "tailwindcss";

.bg-img {
  background-image: url("./assets/Group 8.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}
@media (max-width: 770px) {
  .bg-img {
    background-image: url("./assets/Group 8.svg");
    background-repeat: no-repeat;
    background-position: right top;
  }
}
.bg-img1 {
  background: url("./assets/bg-img 1.svg"), url("./assets/Group 7.svg");
  background-position: center left -110px, right bottom;
  background-repeat: no-repeat, no-repeat;
}
@media (max-width: 770px) {
  .bg-img1 {
    background: url("./assets/Group 7.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
  }
}
.dbg-img {
  background: url("./assets/Group 8 Copy.svg"), url("./assets/Group 8 (1).svg");
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
}
.fbg-img {
  background-image: url("./assets/Group 8 (5).svg");
  background-position: left bottom -100px;
  background-repeat: no-repeat;
}
.abg-img {
  background-image: url("./assets/Group 8 (6).svg");
  background-position: right -100px bottom -100px;
  background-repeat: no-repeat;
}
.mbg-img {
  background-image: url("./assets/Group 8 (7).svg"),
    url("./assets/Group 8 Copy (1).svg");
  background-position: left -100px top -100px, right bottom;
  background-repeat: no-repeat;
}
.sbg-img {
  background-image: url("./assets/clients-bg.svg");
  background-position: left -100px top -100px;
  background-repeat: no-repeat;
}
.cbg-img {
  background-image: url("./assets/Group 8 (7).svg"),
    url("./assets/Group 7 (1).svg");
  background-position: top 115px left -110px, right -100px bottom;
  background-repeat: no-repeat;
}

.responsive-header {
  padding: 5rem;
}

.header-content {
  display: flex;
}

.sidebar-toggle {
  display: none;
}

.contact-btn {
  display: inline-block;
}

.hero-section {
  padding: 250px 165px;
}

.content {
  width: 1110px;
  justify-content: space-between;
  align-items: center;
}

.responsive-h1 {
  width: 550px;
  font-size: 100px;
  line-height: 100px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

.span {
  display: block;
}

.p-content {
  width: 445px;
}

.p {
  font-size: 18px;
  line-height: 28px;
}

.service-section {
  padding: 140px 165px;
}

.service-content {
  justify-content: space-between;
  max-width: 1110px;
}

.service-h1 {
  font-size: 48px;
  line-height: 48px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

.li {
  justify-content: center;
  gap: 24px;
}

.services-list {
  width: 100%;
  max-width: 350px;
}

.delivering-section {
  padding: 140px 165px;
}

.responsive-h2 {
  margin-bottom: 56px;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

.delivering-content {
  max-width: 1110px;
}

.ul {
  gap: 30px;
  justify-content: space-between;
  max-width: 1110px;
}

.ul-p {
  margin-bottom: 24px;
}

.ready-section {
  padding: 76px 260px;
}

.ready-content {
  justify-content: space-between;
  align-items: center;
}

.ready-h2 {
  font-size: 48px;
}

.footer-section {
  padding: 48px 165px;
  align-items: center;
  justify-content: space-between;
}

.svg-content {
  margin-bottom: 24px;
}

.footer-top {
  gap: 125px;
}

.footer-action {
  flex-direction: column;
}

.footer-bottom {
  gap: 12px;
  margin-bottom: 50px;
  justify-content: end;
}

.about-section {
  padding: 120px 165px;
}

.about-h1 {
  margin-bottom: 80px;
  line-height: 100px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

.about-p {
  width: 730px;
}

.meet-section {
  padding: 140px 165px;
}

.meet-h1 {
  font-size: 48px;
  margin-bottom: 64px;
}

.meet-ul {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 11px;
  row-gap: 48px;
}

.meet-li {
  padding: 32px 24px;
  max-width: 350px;
}

.clients-section {
  padding: 140px 165px;
}

.clients-h2 {
  font-size: 48px;
}

.responsive-img {
  width: 165px;
  height: 28px;
}

.contact-section {
  padding: 120px 165px;
}

.contact-left {
  width: 542px;
}

body {
  overflow-x: hidden;
}

/* Tablet Styles (760px–899px) */

@media (min-width: 760px) and (max-width: 899px) {
  .responsive-header {
    padding: 2.5rem;
  }

  .hero-section {
    padding: 224px 40px 256px 45px;
  }

  .content {
    width: 680px;
    flex-direction: column;
    text-align: center;
  }

  .responsive-h1 {
    width: 390px;
    font-size: 64px;
    line-height: 54px;
    margin-bottom: 24px;
  }

  .span {
    display: none;
  }

  .p-content {
    width: 457px;
  }

  .p {
    font-size: 15px;
  }

  .service-section {
    padding: 100px 97px;
  }

  .service-content {
    flex-direction: column;
    max-width: 573px;
  }

  .service-h1 {
    font-size: 32px;
    margin-bottom: 64px;
  }

  .delivering-section {
    padding: 100px 98px;
  }

  .responsive-h2 {
    font-size: 32px;
    margin-bottom: 48px;
  }

  .delivering-content {
    width: 573px;
    max-width: 610px;
  }

  .ul {
    flex-direction: column;
    gap: 48px;
    max-width: 610px;
  }

  .ul-p {
    margin-bottom: 16px;
  }

  .ready-section {
    padding: 76px 97px;
  }

  .ready-h2 {
    font-size: 32px;
  }

  .footer-section {
    padding: 56px 40px;
    flex-direction: column;
  }

  .svg-content {
    margin-bottom: 50px;
  }

  .footer-top {
    gap: 302px;
    margin-bottom: 64px;
  }

  .footer-action {
    flex-direction: row;
    gap: 285px;
    text-align: center;
  }

  .footer-bottom {
    margin-bottom: 0;
  }

  .about-section {
    padding: 224px 40px 112px 45px;
    text-align: center;
    flex-direction: column;
  }

  .about-h1 {
    margin-bottom: 24px;
    line-height: 56px;
  }

  .about-p {
    width: 550px;
  }

  .meet-section {
    padding: 180px 97px 100px 98px;
  }

  .meet-h1 {
    font-size: 32px;
  }

  .meet-ul {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
  }

  .meet-li {
    max-width: 281px;
  }

  .clients-section {
    padding: 100px 40px;
  }

  .clients-h2 {
    font-size: 32px;
  }

  .responsive-img {
    width: 100px;
  }

  .contact-section {
    padding: 112px 113px;
    flex-direction: column;
  }

  .contact-left {
    width: 342px;
    align-items: center;
  }

  .sidebar-toggle {
    display: block;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 30;
  }

  .header-content {
    display: none;
  }

  .contact-btn {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 759px) {
  .responsive-header {
    padding: 1.7rem;
  }

  .hero-section {
    padding: 160px 24px 197px 24px;
  }

  .content {
    width: 100%;
    max-width: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .responsive-h1 {
    width: 100%;
    max-width: 230px;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 18px;
  }
  .responsive-h2 {
    width: 100%;
    max-width: 327px;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 48px;
  }

  .span {
    display: none;
  }

  .p-content {
    width: 100%;
    max-width: 327px;
    text-align: center;
  }

  .p {
    font-size: 15px;
    line-height: 28px;
  }

  .service-section {
    padding: 64px 24px;
  }

  .service-content {
    justify-content: center;
    flex-direction: column;
    max-width: 375px;
  }

  .service-h1 {
    width: 100%;
    max-width: 250px;
    font-size: 32px;
    line-height: 32px;
    text-align: left;
    margin-bottom: 56px;
  }

  .li {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 48px;
  }

  .services-list {
    width: 100%;
    max-width: 350px;
  }

  .delivering-section {
    padding: 140px 24px;
  }

  .delivering-content {
    max-width: 327px;
  }

  .ul {
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  .ready-section {
    padding: 83px 24px;
  }

  .ready-content {
    flex-direction: column;
    text-align: center;
    gap: 24px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }
  .ready-h2 {
    font-size: 32px;
    line-height: 32px;
  }

  .footer-section {
    padding: 40px 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .svg-content {
    margin-bottom: 30px;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
  }

  .footer-action {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .footer-bottom {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    display: flex;
  }

  .about-section {
    padding: 160px 24px 108px 24px;
    text-align: center;
    flex-direction: column;
  }

  .about-h1 {
    font-size: 40px;
    margin-bottom: 24px;
    line-height: 40px;
  }

  .about-p {
    max-width: 327px;
  }

  .meet-section {
    padding: 168px 24px 130px 24px;
  }

  .meet-ul {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 15px;
    place-items: center;
  }

  .meet-li {
    width: 327px;
    height: 281px;
    padding: 32px 24px;
  }

  .clients-section {
    padding: 88px 24px;
  }

  .clients-ul {
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }

  .responsive-img {
    width: 145px;
  }

  .contact-section {
    padding: 88px 24px;
    flex-direction: column;
  }

  .contact-left {
    width: 327px;
    align-items: center;
  }

  .sidebar-toggle {
    display: block;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 30;
  }

  .header-content {
    display: none;
  }

  .contact-btn {
    display: none;
  }
  .cbg-img {
    background-image: url("./assets/Group 7 (1).svg");
    background-position: right -100px bottom -100px;
    background-repeat: no-repeat;
  }
}

.livvic-thin {
  font-family: "Livvic", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.livvic-extralight {
  font-family: "Livvic", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.livvic-light {
  font-family: "Livvic", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.livvic-regular {
  font-family: "Livvic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.livvic-medium {
  font-family: "Livvic", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.livvic-semibold {
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.livvic-bold {
  font-family: "Livvic", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.livvic-black {
  font-family: "Livvic", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.livvic-thin-italic {
  font-family: "Livvic", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.livvic-extralight-italic {
  font-family: "Livvic", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.livvic-light-italic {
  font-family: "Livvic", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.livvic-regular-italic {
  font-family: "Livvic", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.livvic-medium-italic {
  font-family: "Livvic", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.livvic-semibold-italic {
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.livvic-bold-italic {
  font-family: "Livvic", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.livvic-black-italic {
  font-family: "Livvic", sans-serif;
  font-weight: 900;
  font-style: italic;
}
